<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<script type="text/javascript" th:src="@{/js/jquery-1.11.3.min.js}"></script>
<script type="text/javascript" th:src="@{/js/loader.min.js}"></script>

<link rel="stylesheet" th:href="@{/bootstrap337/css/bootstrap.min.css}"/>
<script type="text/javascript" th:src="@{/bootstrap337/js/bootstrap.min.js}"></script>

<link rel="stylesheet" th:href="@{/dist/jquery.bootgrid.min.css}"/>
<script type="text/javascript" th:src="@{/dist/jquery.bootgrid.min.js}"></script>
<script type="text/javascript" th:src="@{/dist/jquery.bootgrid.fa.min.js}"></script>

<link rel="stylesheet" th:href="@{/bootstrap-select-1.12.4/css/bootstrap-select.min.css}"/>
<script type="text/javascript" th:src="@{/bootstrap-select-1.12.4/js/bootstrap-select.min.js}"></script>

<link rel="stylesheet" th:href="@{/bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css}"/>
<script type="text/javascript" th:src="@{/bootstrap-switch/js/bootstrap-switch.min.js}"></script>

<script type="text/javascript" th:src="@{/js/moderniz.2.8.1.js}"></script>
<script type="text/javascript" th:src="@{/js/keyboardEvent.js}"></script>

<link rel="stylesheet" th:href="@{/toastmessage/css/jquery.toastmessage.css}"/>
<script type="text/javascript" th:src="@{/toastmessage/jquery.toastmessage.js}"></script>

<link rel="stylesheet" th:href="@{/jqueryui1121custom/jquery-ui.min.css}"/>
<link rel="stylesheet" th:href="@{/jqueryui1121custom/jquery-ui.theme.min.css}"/>
<script th:src="@{/jqueryui1121custom/jquery-ui.min.js}"></script>

<script type="text/javascript" th:src="@{/js/demo.js}"></script>
<title>SpringMVC + Mybatis + Spring + BootGrid</title>
</head>
<body>
	<div id="data">
		<table id="grid-data" class="table table-condensed table-hover table-striped">
			<thead>
				<tr>
					<th data-column-id="add" data-formatter="add"></th>
					<th data-column-id="id" data-order="desc" data-type="numeric">ID</th>
					<th data-column-id="name">Name</th>
					<th data-column-id="age" data-order="desc">Age</th>
					<th data-column-id="email" data-formatter="email" data-sortable="false">Email</th>
					<th data-column-id="country" data-sortable="false">Country</th>
					<th data-column-id="clone" data-width="100px" data-height="70px" data-align="center" data-sortable="false">Clone</th>
				</tr>
			</thead>
		</table>
	</div>
</body>
</html>