<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>EasyUI</title>
<link rel="stylesheet" type="text/css" href="/jquery-easyui-1.6.2/themes/bootstrap/easyui.css">
<link rel="stylesheet" type="text/css" href="/jquery-easyui-1.6.2/themes/icon.css">
<link rel="stylesheet" type="text/css" href="/jquery-easyui-1.6.2/themes/color.css">
<script type="text/javascript" src="/jquery-easyui-1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="/jquery-easyui-1.6.2/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/jquery-easyui-1.6.2/studyEasyUl.js"></script>
<link rel="stylesheet" type="text/css" href="/jquery-easyui-1.6.2/studyEasyUI.css">
</head>
<body>
	<div class="easyui-tabs" id="nav-tabs" data-options="tools:'#tab-tools'">
		<div title="About" style="padding:10px">
			<p>About content</p>
		</div>
		<div title="My Documents" id="userlist">
			<table id="myEasyui"></table>
			<div id="tb">
    			<!-- <div>
        			<a id="tianjia" href="#">添加</a>
        			<a id="xiougai" href="#">修改</a>
        			<a id="shanchu" href="#">删除</a>
    			</div> -->
    			<div id="gjl2">
        			<label for="searchPhrase">查询内容:</label>
        			<input class="textbox" id="searchPharse" name="searchPhrase" value="" />
        			<a class="chx" href="#">查询</a>
    			</div>
			</div>
		</div>
		<div title="Help" data-options="iconCls:'icon-help',closable:true" style="padding:10px">
			<p>Help content</p>
		</div>
	</div>
	<div id="tab-tools">
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" onclick="addRow()"></a>
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'" onclick="removePanel()"></a>
	</div>
</body>
</html>