<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>login</title>
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="/bootstrap337/css/bootstrap.min.css">
<script type="text/javascript" src="/bootstrap337/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/angulartest.css">
<script type="text/javascript" src="/angular-1.7.3/angular-1.7.3/angular.min.js"></script>
<script type="text/javascript" src="/angular-1.7.3/angular-1.7.3/angular-animate.min.js"></script>
<script type="text/javascript" src="/angular-1.7.3/angular-1.7.3/angular-route.min.js"></script>
<script type="text/javascript" src="/angular-1.7.3/angular-1.7.3/angular-cookies.min.js"></script>
<script type="text/javascript" src="/js/angularTest.js"></script>
</head>
<body ng-app="myAugular">
    <div class="container" id="login" ng-controller="loginController">
        <form class="form-signin" role="form">
            <table>
                <caption class="form-signin-heading"><h2>Welcome Login</h2></caption>
                <tr>
                    <td>UserName:&nbsp;</td>
                    <td><input type="text" name="username" ng-model="user.userName" class="form-control" placeholder="Please enter username" required autofocus /></td>
                </tr>
                <tr>
                    <td>PassWord:&nbsp;</td>
                    <td><input type="password" name="password" ng-model="user.userPassword" class="form-control" placeholder="Please enter password" required /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="checkbox" value="Remeber-me" ng-model="user.remeberMe" ng-change="remeberChange()"/> Remeber me
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button class="btn btn-md btn-primary btn-block" ng-click="login()">login</button>
                    </td>
                </tr>
            </table>                   
        </form>
    </div>
</body>
</html>